# Ignore OmSaiEnvironment folder

# Ignore appsettings.json inside MVC

# Ignore common ASP.NET Core and Visual Studio files
*.user
*.userosscache
*.suo
*.pdb
*.obj/
*.exe
*.dll
*.cache/
bin/
obj/
.vs/
/vs/
**/vs/

.vscode/

# Ignore dependency cache folders
**/node_modules/
**/bower_components/
**/wwwroot/lib/
**/wwwroot/lib/media


# Ignore logs
*.log
Logs/


# Ignore build artifacts
*.build.log
*.publish/
*.PublishProfiles/

# Ignore git folders
.git/
.github/

# Ignore IDE-specific files
*.DS_Store
Thumbs.db

# Ignore build output folders
bin/
obj/
**/bin/
**/obj/
/obj/
# Specifically ignore net8.0 folder inside bin/Debug for MVC
MVC/bin/Debug/net8.0/
OmSaiServices/obj/Debug/
