@{
    Layout = "_LayoutWorker";
    ViewData["Title"] = "Reset Password";
}

@if (ViewBag.Message != null)
{
    <p class="text-danger text-center">@ViewBag.Message</p>
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post" asp-area="Worker" asp-controller="WorkerAuthentication" asp-action="ChangePassword">
                <hr />
                <input type="hidden" id="WorkerId">

                @* <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
                <div class="form-floating mb-3">
                    <label for="oldPassword" class="form-label">Old Password:</label>
                    <input type="password" name="oldPassword" id="oldPassword" class="form-control" autocomplete="old-password" aria-required="true" placeholder="Enter OldPassword" required/>
                </div>
                <div class="form-floating mb-3">
                    <label for="NewPassword" class="form-label">New Password:</label>
                    <input type="password" name="NewPassword" id="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter New Password" required />
                </div>
                <div class="form-floating mb-3">
                    <label for="ConfirmNewPassword" class="form-label">Confirm New Password:</label>
                    <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control" autocomplete="confirm-new-password" aria-required="true" placeholder="Enter Confirm Password" required />
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary ">Set Password</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-12 mx-auto d-flex justify-content-center ml-5">
        <img src="~/demo/LoginImg/reset-password.png" style="height:400px;width: 350px; " />
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@* @{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>

<form asp-area="Worker" asp-controller="WorkerAuthentication" asp-action="ChangePassword" method="post">
    <div>
        <label for="OldPassword">Old Password</label>
        <input type="password" id="OldPassword" name="OldPassword" required />
    </div>
    <div>
        <label for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" name="NewPassword" required />
    </div>
    <div>
        <label for="ConfirmNewPassword">Confirm New Password</label>
        <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" required />
    </div>
    <button type="submit">Change Password</button>
</form>

@if (ViewData.ModelState?.IsValid == false)
{
        <div>
            <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                        <li>@error.ErrorMessage</li>
            }
            </ul>
        </div>
} *@
